<mat-toolbar color="">
  <img
    src="https://fontmeme.com/permalink/220528/3a7868ffa91b75bfb8fee37b23685c40.png"
    width="130"
    height="51"
  />
  <span><a mat-button color="warn" routerLink="/cadastrar">Cadastrar</a></span>
  <span><a mat-button color="warn" routerLink="/filmes">Filmes</a></span>
  <span><a mat-button color="warn" routerLink="/series">Séries</a></span>
  <span><a mat-button color="warn" routerLink="/documentarios">Documentários</a></span>
</mat-toolbar>
<router-outlet></router-outlet>
